.listElement {
	margin: 10px 0 10px 0;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.listElement:hover {
	transform: scale(1.1);
	color: #b45541;
}

.eventList {
	list-style: none;
	padding: 0 10px 10px 10px;
	border: 1px solid #b1b1b1;
}